[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

fastapi = "*"
Requests = "*"
uvicorn = "*"
gunicorn = "*"
pydantic = "*"
sqlalchemy = "*"
pymysql = "*"
cryptography = "*"
pyyaml = "*"
python-logstash = "*"
python-dotenv = "*"
typer = "*"
kafka-python = "*"


[dev-packages]
isort = "*"
black = "==21.5b1"
flake8 = "*"
autoflake = "*"
vulture = "*"
mypy = "*"
pydantic = "*"
pytest = "*"
pytest-timeout = "==2.1.0"
pytest-cov = "==3.0.0"

[requires]
python_version = "3.7"
